.widget {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 18px;
  background-color: #BFBDB9;
  padding-top: 26px;
  padding-bottom: 20px;

  .title {
    font-weight: 600;
    font-size: 15px;
    color: #000;
  }

  .counter {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-top: 4px;
  }

  .rate {
    font-size: 10px;
    font-weight: 400;
    color: #000;
    margin-top: 4px;
  }
}
